@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Про нас</h1>
    <section>
        <h2>Хто ми і що ми робимо</h2>
        <p>Організація  Volunteers заснована в 2014 році з метою надання підтримки та допомоги тим, хто цього потребує.</p>
        <!-- Додайте детальну інформацію про вашу організацію -->
    </section>
</div>
