@{
    ViewData["Title"] = "Contacts Page";
}

<div class="text-center">
    <h1 class="display-4">Зв'яжіться з нами</h1>
    <section>
        <h2>Залиште нам повідомлення</h2>
        <!-- Додайте форму зворотного зв'язку -->
    </section>
</div>
