@{
    ViewData["Title"] = "News Page";
}

<div class="text-center">
    <h1 class="display-4">Новини та оновлення</h1>
    <section>
        <h2>Останні новини</h2>
        <!-- Додайте список новин з можливістю перегляду деталей -->
    </section>
</div>