

@{
    ViewData["Title"] = "Support Page";
    <link rel="stylesheet" href="~/css/Support.css" asp-append-version="true" />

}


<div class="text-center">

    <div class="donation-container">
        <div class="message-section">
            <img src="/css/Image/help.jpg" alt="Background Image" class="background-image">
            <div class="message">
                <h1>ЯК НАС</h1>
                <h2>ПІДТРИМАТИ</h2>
            </div>
        </div>
        <div class="qr-code-section">
            <p>НОМЕР КАРТИ: <br> <strong>4149499994815791</strong> <br> Калапунь Андрій</p>
            <div class="qr-code">
                <h3>QR-код для оплати</h3>
                <img src="/css/Image/qr_code.png" alt="QR Code for Payment">
                <p>Використовуйте <a href="https://next.privat24.ua/money-transfer/card" class="privat24">Privat24</a></p>
            </div>
        </div>
    </div>
</div>