@{
    ViewData["Title"] = "Support Page";
}

<div class="text-center">
    <h1 class="display-4">Підтримка волонтерів</h1>
    <section>
        <h2>Проекти та можливості для волонтерства</h2>
        <!-- Додайте список проектів та можливостей для волонтерства -->
    </section>

    <section>
        <h2>Підтримати волонтерські ініціативи</h2>
        <!-- Додайте посилання на форму для донату -->
    </section>
</div>