/* Стилізація основного контейнера */
.navbar-nav {
    list-style-type: none; /* Видалити маркери списку */
    margin: 0; /* Видалити зовнішні відступи */
    padding: 0; /* Видалити внутрішні відступи */
}

/* Стилізація пунктів меню */
.nav-item {
    display: inline-block; /* Відображати пункти меню в ряд */
    margin-right: 10px; /* Додати відступ між пунктами меню */
}

/* Стилізація посилань */
.nav-link {
    text-decoration: none; /* Видалити підкреслення посилань */
    color: #333; /* Колір тексту посилань */
    font-weight: bold; /* Напівжирний шрифт */
}

    /* Стилізація кнопки "Вихід" */
    .nav-link.btn {
        background-color: #D4E157; /* Колір фону кнопки */
        color: white; /* Колір тексту кнопки */
        padding: 8px 12px; /* Подушка кнопки */
        border: none; /* Видалити рамку кнопки */
        border-radius: 4px; /* Закруглені кути кнопки */
        cursor: pointer; /* Зміна форми курсора на вказівник */
    }

        /* Стилізація кнопки "Вихід" при наведенні */
        .nav-link.btn:hover {
            background-color: #45a049; /* Колір фону кнопки при наведенні */
        }
